/**
 * Text Color
 */
$text-color-primary: rgba(0, 0, 0, 1);
$text-color-secondary: rgba(38, 50, 56, 1);
$text-color-light: rgba(207, 216, 220, 1);
$background-light: rgba(256, 256, 256, 1);

/**
 * Theme Colors
 */
$primary-color-dark: rgba(7, 33, 42, 1);
$primary-color: rgba(14, 70, 90, 1);
$primary-color-light: rgba(66, 170, 199, 1);
$accent-color: rgba(246, 166, 35, 1);


/**
 * Spacing ( Margin & Padding)
 */
$spacing-xxx-small: 4px;
$spacing-xx-small: 8px;
$spacing-x-small: 16px;
$spacing-small: 24px;
$spacing-medium: 32px;
$spacing-large: 40px;
$spacing-x-large: 48px;
$spacing-xx-large: 56px;
$spacing-xxx-large: 64px;
